<!-- header.html -->
<header class="header">
    <div class="container mx-auto">
        <div class="header__nav flex items-center justify-between">
            <!-- Reemplaza el texto del logo con una imagen -->
            <a href="/">
                <img src="assets/images/logoIdentidad360_25px.png" alt="Logo de IdentidadDigital360" class="h-12">
            </a>
            <nav class="md:flex hidden space-x-4">
                <a href="#servicios" class="header__nav-item hover:text-gray-300">Servicios</a>
                <a href="#precios" class="header__nav-item hover:text-gray-300">Precios</a>
                <a href="#contacto" class="header__nav-item hover:text-gray-300">Contacto</a>
            </nav>
            <button id="mobile-menu-btn" class="header__mobile-menu-btn md:hidden text-2xl">
                &#9776;
            </button>
        </div>
        <nav id="nav-menu" class="header__mobile-menu md:hidden">
            <a href="#servicios" class="block py-2">Servicios</a>
            <a href="#precios" class="block py-2">Precios</a>
            <a href="#contacto" class="block py-2">Contacto</a>
        </nav>
    </div>
</header>
